body {
    font-size: 16px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(234deg, #f6f7ff 83%, #fdfafc 50%, #fdfafc 0%, #fdfafc 0%);

}
h1{
    font-weight: 300 ;
}

.text{
    font-size: 0.8rem;
}

.login-page {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}


.logo-container {
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    flex: 1;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}



.logo-container p {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;

}



.login {

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    min-width: max-content;
}

.login-form {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    min-width: 200px;
    /* max-width: 80%; */

}



.username-input,
.password-input {
    padding-left: 7%;

    width: 410px;
    height: 35px;
    border: solid 1px #cb86c9;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;     
    font-weight: 500;
}

.username{
    position:relative;
}
.username::before{
    content: "";
    background-image: url('./Profile.svg');
    width: 17px;
    height: 21px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 12px;
    top: 23px;
    left: 10px;
}
.password{
    position: relative;
}
.password::before{
    width: 17px;
    height: 22px;
    content: "";
    background-image: url('./Lock.svg');
    background-size:12px;
    position: absolute;
    background-repeat: no-repeat;
    top: 23px;
    left: 10px;
}

.btn {

    width: 450px;
    color: aliceblue;
    background-image: linear-gradient(to right, #851f9a 1%, #801d87 40%, #7c1b7a 68%, #74185c);      
    height: 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.welcome {
    font-size: 1.3em;
}


.remember-forget {
    margin-top: 5px;
    display: flex;

}

.remember {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.forget-password {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    background: transparent;
    border: transparent;
    text-shadow: none;
    box-shadow: none;

}

.remember-me {
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: #111;
    border: none;
    border-radius: 10px;
    cursor: pointer;


}

.forget-password {
    font-size: 1rem;
    color: #111;
    border: 5px #fff solid;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;

}

.checkbox {
    cursor: pointer;
    margin-bottom: 15px;
    border: none;

}


@media(max-width:700px) {

    .login-page {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 3rem;
        font-size: 0.8rem;
        font: 0.8rem;
    }

    .logo-container {
        margin-top: 2rem;
    }

    p {
        font-size: 0.9rem;
    }
    .login{
        margin-bottom: 0.8rem;
    }


}