.login-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.text {
    font-size: 0.8rem;
}

h1 {
    font-weight: 300;
}

.logo-container {
    display: flex;
    flex: 1;
    font-size: 0.7em;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;

}

.logo-container p {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;

}

.login {

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.login-form {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
}

.username-input,
.password-input {
    padding-left: 7%;
    width: 100%;
    max-width: 400px;
    height: 35px;
    border: solid 1px #cb86c9;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.username {
    position: relative;
}

.username::before {
    content: "";
    background-image: url('./Profile.svg');
    width: 16px;
    height: 20px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 12px;
    top: 23px;
    left: 7px;
}

.password {
    position: relative;
}

.password::before {
    width: 16px;
    height: 20px;
    content: "";
    background-image: url('./Lock.svg');
    background-size: 12px;
    position: absolute;
    background-repeat: no-repeat;
    top: 23px;
    left: 7px;
}

.btn {

    max-width: 410px;
    width: 100%;
    color: aliceblue;
    background-image: linear-gradient(to right, #851f9a 1%, #801d87 40%, #7c1b7a 68%, #74185c);
    height: 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.welcome {
    font-size: 1.3em;
}


.remember-forget {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

}

.remember {
    display: flex;
    // flex: 1;
    justify-content: flex-start;

    align-items: center;
}

.forget-password {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    background: transparent;
    border: transparent;
    text-shadow: none;
    box-shadow: none;


}

.remember-me {
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: #111;
    border: none;
    border-radius: 10px;
    cursor: pointer;


}

.forget-password {
    font-size: 1rem;
    color: #111;
    border: 5px #fff solid;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;

}

.checkbox {
    cursor: pointer;
    // margin-bottom: 15px;
    border: none;

}


@media(max-width:700px) {



    .login-form {
        width: 100%
    }

    .login-page {

        display: flex;
        flex-direction: column-reverse;
        margin-top: 3rem;
        font-size: 0.8rem;
        font: 0.8rem;
    }

    .logo-container {
        margin-top: 2rem;
        width: 100%;
    }

    p {
        font-size: 0.9rem;
    }

    .login {
        margin-bottom: 0.8rem;
    }


}